.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}
